* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.site_header {
    /* position: fixed; */
    width: 100%;
    background: hsl(0, 100%, 100%);
    padding: 0;
    border-bottom: 1px solid hsl(0, 0%, 86%);
}

.site_header .navbar {
    background: transparent;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0;
    align-items: stretch;
}

.site_header .navbar-start {
    align-items: center;
}

.button {
    border-radius: 50px;
    padding: 0 1.5rem;
}

.has-text-info {
    color: hsl(150, 50%, 40%);
}

.is-info,
.button.is-info {
    background: hsl(150, 50%, 40%);
}

.button.is-info:hover {
    background: hsl(150, 50%, 30%);
}

.button.is-info:disabled {
    background: hsl(150, 50%, 15%);
}

.is-info-dark {
    background: hsl(150, 50%, 15%);
}

.button.is-info.is-outline {
    background: transparent;
    border: 2px solid hsl(150, 50%, 40%);
    color: hsl(150, 50%, 40%);
}

.ml-space {
    margin-left: 0.5rem;
}

.form-page-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
    height: 100%;
}

.form {
    width: 100%;
    max-width: 35rem;
    background: white;
    padding-top: 2rem;
    border-radius: 0.5rem;
    padding: 3rem;
}

.formInput {
    transition: 0.4s ease;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid hsl(150, 0%, 90%);
    box-shadow: none;
    padding: 1rem;
    margin-bottom: 1rem;
    font-size: 1.1rem;
}

.form-helper {
    display: inline-block;
    margin-bottom: 2rem;
}

.form .title.is-1 {
    margin-bottom: 1rem;
}

.form-top-error {
    margin: 0;
    margin-bottom: 1rem;
}

.logo {
    font-size: 1.5rem;
    font-weight: bolder;
    line-height: 1;
    color: hsl(150, 50%, 30%);
}

.profile-header {
    position: relative;
    overflow: hidden;
}

.profile-header .container {
    display: flex;
    align-items: flex-start;
}

.profile-background {
    background: #f7f7f7;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
}

.profile-background img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.profile-image {
    background: hsl(0, 0%, 80%);
    /* border: 2px solid white; */
    border-radius: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2rem;
    width: 150px;
    height: 150px;
    overflow: hidden;
}

.profile-image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.profile-details .title {
    line-height: 1;
    padding: 0;
    margin-bottom: 0.5rem;
}

.has-backdrop {
    display: inline-block;
    background: hsla(0, 0%, 0%, 0.8);
    padding: 0.5rem;
    color: white;
    max-width: 400px;
}

.title.has-backdrop {
    padding: 0.2rem 0.5rem 0.5rem;
}

.create-post-link {
    border-left: 1px solid hsl(0, 0%, 89%);
}

.user-nav {
    position: relative;
}

.user-nav--identity {
    padding: 0.25rem 1rem;
    height: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-left: 1px solid hsl(0, 0%, 89%);
    border-right: 1px solid hsl(0, 0%, 89%);
}

.user-nav.open .user-nav--identity {
    background: hsl(150, 50%, 20%);
    color: white;
}

.user-nav--avatar {
    width: 28px;
    height: 28px;
    margin-right: 0.5rem;
    border-radius: 100%;
    overflow: hidden;
}

.user-nav--avatar img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.user-nav--username {
    margin-right: 0.5rem;
}

.user-nav--identity i {
    font-size: 0.8rem;
}

.user-nav--dropdown {
    position: absolute;
    top: calc(100% + 1px);
    left: 1px;
    display: none;
    background: white;
    width: 150px;
    border: 1px solid #333;
    border-top: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
}

.user-nav.open .user-nav--dropdown {
    display: block;
}

.user-nav--link {
    display: block;
    background: white;
    color: #333;
    border: none;
    outline: none;
    padding: 0.375rem 0.75rem;
    font-size: 0.9rem;
}

button.user-nav--link {
    width: 100%;
    text-align: left;
    cursor: pointer;
}

.user-nav--identity:hover,
.user-nav--link:hover {
    background: hsl(0, 16%, 96%);
}

main {
    flex: 1;
}

.profile {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.posts {
    /* background: hsl(0, 0%, 96%); */
    max-width: 75%;
    flex: 1;
}

.post-preview {
    background: white;
    padding: 2rem;
    margin-bottom: 1rem;
    border-radius: 5px;
}

.post-header {
    margin-bottom: 1rem;
}

.post-footer {
    margin-top: 1rem;
    font-size: 0.9rem;
}

.profile-header.skeleton,
.skeleton span,
h2.skeleton {
    background: hsl(0, 0%, 90%);
}

h2.skeleton,
.skeleton span {
    display: block;
    width: 100%;
    height: 25px;
}

h1.skeleton {
    height: 60px;
    max-width: 400px;
    background: hsl(0, 0%, 90%);
}

h2.skeleton {
    max-width: 500px;
}

.tags.skeleton span {
    max-width: 60px;
}

.post-excerpt.skeleton span {
    margin-bottom: 0.5rem;
    max-width: 400px;
}

.post-excerpt.skeleton span:nth-child(2) {
    max-width: 250px;
}

.post-footer.skeleton span {
    max-width: 100px;
}